<html>
	<head>
		<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/style.css">
		<link rel="stylesheet" href="stylesheets/demo.css">
	</head>
	<body ng-app >
	<div id="main-page" ng-controller="myCtrl" >
		<div id="my-input" class="input-group">
	      <input type="text" class="form-control" ng-model="candidate" >
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button" ng-click="addPerson()"  >Add</button>
	      </span>
	    </div>

	    <div id="my-filter" >
	      <input type="text" class="form-control" placeholder='query name' ng-model="condition" ng-change="query(condition)" >
	    </div>
		
		<div class="list-group" ng-show='shouldShowPersons' >
		  <!-- <a href="#" class="list-group-item disabled">tom</a> -->
		  <a href="javascript:void(0);" class="list-group-item {{person.capacity}}" ng-repeat="person in persons" >{{person.name}}</a>
		</div>

		<button id="clear-btn" type="button" class="btn btn-default" ng-click="removeDisabledPeople()" >clear</button>
		<button id="hide-btn" type="button" class="btn btn-default" ng-click="hideorshow()" ng-model="affect" >{{affect}}</button>
	</div>

		

		<script src="javascripts/jquery.min.js"></script>
    	<script src="javascripts/bootstrap.min.js"></script>
    	<script src="javascripts/angular.js"></script>
    	<script src="javascripts/controller.js"></script>
	</body>
</html>